<!-- do iteration instead copy 3 sets of card when the seeds are ready -->
<!-- iteration outside of row -->
<% @random_combos.each do |combo| %>
  <div class="row d-flex align-items-center mb-3 result">
    <div class="col-sm-12 col-md-6">
      <div class="combination">
        <div class="combo-box d-flex justify-content-center align-items-center">
          <div class="combo-card large-shadow">
            <div class="poster" style="background-image: url('<%= combo.movie.photo_url%>')">
              <%= render 'shared/play-button', combo: combo %>
            </div>
            <div class="combo-card-infos">
              <h6 class="combo-item-name">
                <a href="<%=combo.movie.link_url %>" target="_blank" class="link-to">
                  <%= combo.movie.name %>
                </a>
              </h6>
            </div>
          </div>

          <div class="plus">
            <div class="y-line">

            </div>
            <div class="x-line">

            </div>
          </div>

          <div class="combo-card large-shadow relative">
            <img src="<%= image_path combo.restaurant.food_type.photo_url %> " />
            <div class="combo-card-infos">
              <h6 class="combo-item-name">
                <a href="<%=combo.restaurant.link_url%>" target="_blank" class="link-to">
                  <%= combo.restaurant.name %>
                </a>
              </h6>
            </div>
            <div class="like" id="combo_<%= combo.id %>">
              <% if user_signed_in? && (current_user.voted_for? combo) %>
                <%= link_to downvote_combo_path(combo), method: :post, remote: true do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% elsif user_signed_in? && !(current_user.voted_for? combo) %>
                <%= link_to like_combo_path(combo), method: :post, remote: true do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="index-content">
        <% if combo.class == SponsoredCombo %>
          <h4><span class="sponsor-strong">Sponsored:</span> <%= combo.name %></h4>
          <p><%= combo.description %></p>
        <% else %>
          <h4><%= combo.movie.name %> + <%= combo.restaurant.name %> </h4>
          <p><%= combo.movie.description %></p>
        <% end %>

        <div class="index-content-bottom">
        <!-- modal button start -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target=<%= "#modal" + combo.id.to_s %> >Select<i class="far fa-hand-pointer ml-2"></i>
          </button>
        <!-- modal button end -->
          <% unless user_signed_in? %>
            <%= link_to like_combo_path(combo, combo_ids: @random_combos.pluck(:id)), class: "like", id:"log-save", method: :post, remote: user_signed_in? do %>
                <button type="button" class="btn btn-success ml-2">Log in to Save</button>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
    <!-- render start -->
      <div class="modal fade" id="modal<%=combo.id%>" tabindex="-1" role="dialog" aria-labelledby="<%=combo.id%>Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="text-center">You have chosen</h5>
              <h5 class="text-center mb-0"><strong><%= combo.name %></strong></h5>
              <h6 class="mt-0">(<%= combo.movie.name %> + <%= combo.restaurant.name %>)</h6>
              <div class="row d-flex justify-content-center">
                <img src="https://media3.giphy.com/media/3ohhwliPYARsRHK2Aw/giphy.gif" alt="#" style="width: 120px; height:100px">
              </div>
              <h6>Click below to be directed to your choices:</h6>
              <div class="row d-flex justify-content-center align-items-center">
                <a href="<%= combo.movie.link_url %>" target="_blank" class="redirect"><%= image_tag("https://logos-download.com/wp-content/uploads/2016/03/Netflix_logo_n.png", alt: "netflix", style: 'height:60px;', class: 'mr-1-n') %></a>
                <a href="<%= combo.restaurant.link_url %>" target="_blank" class="redirect"><%= image_tag("https://www.drivetax.com.au/wp-content/uploads/2017/04/DT-MAR-Deliveroo-Logo-Icon-Transparent.png", alt: "deliveroo", style: 'height:60px;', class: 'mr-1-d') %></a>
              </div>
              <h6>Why not share your combo with your friends?</h6>
              <div class="row d-flex justify-content-center align-items-center" id="modal-icons">
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram mx-1 text-success"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook mx-1 text-success"></i></a>
                <a href="https://twitter.com/?lang=en-gb" target="_blank"><i class="fab fa-twitter mx-1 text-success"></i></a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- render end -->
  </div>
<% end %>


