<div class="fresh-carousel">
  <!-- start of combo card -->
  <% @fresh_combos.sample(25).each do |combo| %>
    <div class="combo-box d-flex justify-content-center align-items-center">
      <div class="combo-card carousel-card">
        <div class="poster" style="background-image: url('<%=image_path combo.movie.photo_url%>')">
        </div>
        <div class="combo-card-infos">
          <h6 class="combo-item-name">
            <a href="<%=combo.movie.link_url %>" target="_blank" class="link-to">
              <%= h truncate(combo.movie.name, :length => 35) %>
            </a>
          </h6>
        </div>
      </div>

      <div class="plus">
        <div class="y-line">
        </div>
        <div class="x-line">
        </div>
      </div>

      <div class="combo-card">
        <img src="<%=image_path combo.restaurant.photo_url%>" />
        <div class="combo-card-infos">
          <h6 class="combo-item-name">
            <a href="<%=combo.restaurant.link_url%>" target="_blank" class="link-to">
              <%= h truncate(combo.restaurant.name, :length => 35) %>
            </a>
          </h6>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- start of modal -->
<button type="button" class="btn btn-success d-none" id="triggersearch" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>


<!-- start of simple form for -->
<div class="modal fade bd-example-modal-lg justify-content-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl margin-auto">
    <div class="modal-content">

      <h4 class="text-center mt-4 mb-0"><strong>Now...choose a film & food type ♥</strong></h4>

      <%= simple_form_for :search, url: combos_path, class:'mt-0', method: :get, html: { id: 'search_form' } do |f| %>
        <%= hidden_field_tag "hidden_genre" %>
        <%= hidden_field_tag "hidden_foodtype" %>
        <%= hidden_field_tag "postcode", params[:query] %>
        <fieldset class="form-group check_boxes required search_genre">
        <input type="hidden" name="search[genre][]" value="">
        <div class="carousel mb-0 mt-3">
          <% Genre::GENRE_CATEGORIES.each do |genre| %>
            <div class="form-check pl-0">
              <input class="form-check-input check_boxes required d-none" type="checkbox" value="<%= genre %>" name="search[genre][]" id="search_genre_<%= genre %>">
              <label class="collection_check_boxes select-choice" for="search_genre_<%= genre %>" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path Genre.where(name: genre).first.photo_url %>')">
                <i class="far fa-check-circle"></i>
                <span><%= genre.capitalize %></span>
              </label>
            </div>
          <% end %>
        </div>
        </fieldset>
        <fieldset class="form-group check_boxes required search_genre"><input type="hidden" name="search[genre][]" value=""><div class="form-check"></div></fieldset>

        <fieldset class="form-group check_boxes required search_foodtype">
        <input type="hidden" name="search[foodtype][]" value="">
        <div class="carousel mb-3">
          <% FoodType::FOODTYPE_CATEGORIES.each do |foodtype| %>
            <div class="form-check pl-0">
              <input class="form-check-input check_boxes required d-none" type="checkbox" value="<%= foodtype %>" name="search[foodtype][]" id="search_foodtype_<%= foodtype %>">
              <label class="collection_check_boxes select-choice" for="search_foodtype_<%= foodtype %>" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path FoodType.where(name: foodtype).first.photo_url %>')">
                <i class="far fa-check-circle"></i>
                <span><%= foodtype.capitalize %></span>
              </label>
            </div>
          <% end %>
        </div>
        </fieldset>
        <fieldset class="form-group check_boxes required search_foodtype mb-0"><input type="hidden" name="search[foodtype][]" value=""><div class="form-check"></div></fieldset>
        <div class="row d-flex justify-content-center align-items-center mb-4">
          <%= submit_tag "Ready ✌", class: "btn btn-success ready" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
