<!-- app/views/payments/new.html.erb -->
<h2>Sponsored Order: <%= @sponsored_combo.combo.name %></h2>
<%= form_tag sponsored_combo_payments_path(@sponsored_combo) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@sponsored_combo.price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Sponsored Combo"
    data-email="<%= current_user.email %>"
    data-description="Sponsored Combo <%= @sponsored_combo.combo.name %>"
    data-amount="<%= @sponsored_combo.price_cents %>"
    data-currency="<%= @sponsored_combo.price.currency %>"></script>

<% end %>
