<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ONETWOSIX | We’ll take care of your night</title>
    <meta name ="description" content="Give us your favorite food and movie genre - We’ll take care of tonight">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="min-height">
      <% if params[:action] == 'home' %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/banner' %>
      <% else %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/small-banner' %>
      <% end %>
      <%= render 'shared/flashes' %>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

