<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ONETWOSIX</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- <link rel="stylesheet" type="text/css" href="../../assets/slick/slick.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="../../assets/slick/slick-theme.css"/> -->
  </head>
  <body>
    <div class="min-height">
      <% if params[:action] == 'home' %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/banner' %>
      <% else %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/small-banner' %>
      <% end %>
      <%= render 'shared/flashes' %>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <!-- <script type="text/javascript" src="./../assets/slick/slick.min.js"></script> -->
    <script type="text/javascript">

    </script>
  </body>
</html>

